.cards-slider {
  max-width: 226px;
  position: relative;
  margin: 0 auto;
}

img {
  width: 100%;
}

.cards-slider::after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  border: 5px solid #61dafe;
  position: absolute;
  top: -7px;
  left: -5px;
}
